services:
  dockcheck:
    image: ghcr.io/2boom-ua/dockcheck:latest
    container_name: dockcheck
    volumes:
      - ./config.json:/dockcheck/config.json
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Etc/UTC
    restart: unless-stopped
